<web-app xmlns = "http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation = "http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version = "3.1">
    <servlet>
        <servlet-name>injection</servlet-name>
        <servlet-class>com.internet.shop.controller.InjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>injection</servlet-name>
        <url-pattern>/inject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>com.internet.shop.controller.WelcomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>com.internet.shop.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.internet.shop.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.internet.shop.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userDetails</servlet-name>
        <servlet-class>com.internet.shop.controller.user.GetUserDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDetails</servlet-name>
        <url-pattern>/user/details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userDetailsAdmin</servlet-name>
        <servlet-class>com.internet.shop.controller.user.GetUserDetailsAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDetailsAdmin</servlet-name>
        <url-pattern>/user/details/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>com.internet.shop.controller.user.GetAllUsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>com.internet.shop.controller.user.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>com.internet.shop.controller.user.UpdateUserDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/user/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addRoleUser</servlet-name>
        <servlet-class>com.internet.shop.controller.user.AddRoleUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRoleUser</servlet-name>
        <url-pattern>/user/role</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>com.internet.shop.controller.product.GetAllProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>allProductsAdmin</servlet-name>
        <servlet-class>com.internet.shop.controller.product.GetProductsAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProductsAdmin</servlet-name>
        <url-pattern>/products/all/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateProduct</servlet-name>
        <servlet-class>com.internet.shop.controller.product.UpdateProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateProduct</servlet-name>
        <url-pattern>/product/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteProductsAdmin</servlet-name>
        <servlet-class>com.internet.shop.controller.product.DeleteProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProductsAdmin</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>buyProduct</servlet-name>
        <servlet-class>com.internet.shop.controller.product.BuyProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>buyProduct</servlet-name>
        <url-pattern>/product/buy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>com.internet.shop.controller.product.AddProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/product/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cartAllProduct</servlet-name>
        <servlet-class>com.internet.shop.controller.cart.GetProductsShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartAllProduct</servlet-name>
        <url-pattern>/shopping-cart</url-pattern>
    </servlet-mapping>
    <servlet>
         <servlet-name>cartDelProduct</servlet-name>
         <servlet-class>com.internet.shop.controller.cart.DeleteProductShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartDelProduct</servlet-name>
        <url-pattern>/shopping-cart/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>allOrders</servlet-name>
        <servlet-class>com.internet.shop.controller.order.GetAllOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allOrders</servlet-name>
        <url-pattern>/orders/all</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>usersOrders</servlet-name>
        <servlet-class>com.internet.shop.controller.order.GetUsersOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersOrders</servlet-name>
        <url-pattern>/user/orders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>completeOrder</servlet-name>
        <servlet-class>com.internet.shop.controller.order.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>completeOrder</servlet-name>
        <url-pattern>/order/complete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>com.internet.shop.controller.order.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/order/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderDetails</servlet-name>
        <servlet-class>com.internet.shop.controller.order.GetOrderDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderDetails</servlet-name>
        <url-pattern>/order/details</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>com.internet.shop.web.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>authorizationFilter</filter-name>
        <filter-class>com.internet.shop.web.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <location>
            /WEB-INF/views/security/error.jsp
        </location>
    </error-page>
</web-app>
